.lobby-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  font-family: system-ui, -apple-system, sans-serif;
  color: #1f2937;
}

.lobby-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 10px;
}

.lobby-header h1{
  font-size: 40px;
}

.status {
  background-color: #3b82f6;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.lobby-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px #000000
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.info-item span {
  display: block;
  font-size: 17;
  color: #6b7280;
}

.info-item strong {
  font-size: 15;
  color: #111827;
}

.player-list {
  font-size: 15;
}

.leave-league {
    max-width: 155px;
    background-color: #e13c4a;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}